<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="ss">
  <meta name="description" content="ss">
  <meta name="keywords" content="ss">
  <title>ss account</title>
  <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css">
  {{scan "js/*, css/*"}}
</head>