<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="title" content="ss">
  <meta name="description" content="ss">
  <meta name="keywords" content="ss">
  <title>ss account</title>
  <script src="//cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  {{scan "js/*, css/*"}}
</head>