<!DOCTYPE html>
<html>
{{import "module/pc-header.hbs"}}

<body>
  <div class="ui grid" id="container">
    <div class="sixteen wide column">
      <div class="ui menu">
        <div class="header item"><i class="left delicious icon"></i>ss</div>
      </div>
      <div class="ui bottom attached segment pushable">
        <div class="pusher">
          <div class="ui basic segment">
            <div class="ui grid">
              <div class="sixteen wide column" id="app">
                <form class="ui form" onsubmit="return false">
                  <h4 class="ui header">Shadowsocks Info</h4>
                  <div class="inline fields">
                    <div class="one wide field"><label>IP</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.ip">
                    </div>
                    <div class="one wide field"><label>PORT</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.port">
                    </div>
                  </div>
                  <div class="inline fields">
                    <div class="one wide field"><label>Password</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.password">
                    </div>
                    <div class="one wide field"><label>Encryption</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.encryption">
                    </div>
                  </div>
                  <div class="inline fields">
                    <div class="one wide field"><label>Veid</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.veid">
                    </div>
                    <div class="one wide field"><label>apikey</label></div>
                    <div class="two wide field">
                      <input type="text" v-model="vps.apikey">
                    </div>
                  </div>
                  <div class="inline fields">
                    <div class="ui slider checkbox">
                      <input type="checkbox" v-model="vps.private">
                      <label>private</label>
                    </div>
                  </div>
                  <div class="inline fields">
                    <div class="two wide field">
                      <button class="ui green button" v-on:click="save">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="ui center aligned container copyright">copyright©apying.com</div>
        </div>
      </div>
      <script src="//cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
      <script>
        function getUrlVars(field){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return field ? vars[field] : vars;
        }
        
        var app = new Vue({
          el: "#app",
          data: {
            vps: {}
          },
          methods:{
            save: function(){
              var id = getUrlVars('id')
              if(!id){
                return
              }
              delete this.vps["id"]
              $.ajax({
                url:"/admin/vps/"+id,
                method: "PUT",
                data: this.vps
              }).done(function(){
                alert('modify success')
              }).fail(function(resp){
                if(resp.status == 401){
                  location.href = "/login.html"
                }
              })
            }
          }
        })
        function getVps(){
          var id = getUrlVars('id')
          $.ajax({
            url:"/admin/vps/"+id,
            method: "GET",
            success: function(data){
              app.vps  = data
            },
            error: function(resp){
              if(resp.status == 401){
                location.href = "/login.html"
                return
              }
            }
          })
        }
        getVps()
      </script>

</body>

</html>