<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//cdn.bootcss.com/pure/0.6.2/pure-min.css">
          <style>
    .pure-menu-item{
      height:  inherit;
    }
    table{
      width: 100%;
    }
  </style>
    </head>
<body>
     <div class="pure-g" id="container">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
      <a href="https://apying.com" class="pure-menu-heading pure-menu-link">APYING.COM</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="javascript:void(0)" id="menuLink1" class="pure-menu-link">下载ss</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item"><a href="https://appsto.re/cn/pD8pgb.i" class="pure-menu-link">iphone</a></li>
            <li class="pure-menu-item"><a href="https://github.com/shadowsocks/shadowsocks-libev"  class="pure-menu-link">Mac shell</a></li>
            <li class="pure-menu-item"><a href="https://sourceforge.net/projects/shadowsocksgui/files/dist/"  class="pure-menu-link">Mac GUI</a></li>
            <li class="pure-menu-item"><a href="https://github.com/shadowsocks/shadowsocks-libev" class="pure-menu-link">Linux shell</a></li>
            <li class="pure-menu-item"><a href="https://sourceforge.net/projects/shadowsocksgui/files/dist/" class="pure-menu-link">Linux GUI</a></li>
            <li class="pure-menu-item"><a href="https://sourceforge.net/projects/shadowsocksgui/files/dist/" class="pure-menu-link">Windows7及以上</a></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="pure-u-1">
      <table class="pure-table pure-table-horizontal ">
        <thead>
          <tr>
            <th>流量</th>
            <th>价格</th>
            <th>终端数限制</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <td>1000G/月</td>
            <td>300/年</td>
            <td>无限制（适合多人共享）</td>
          </tr>
        </tbody>
      </table>
    </div>
     <div class="pure-u-1"></div>
     <div class="pure-u-1-5"></div>
     <div class="pure-u-3-5">看YOUTUBE 480p不卡， 720p偶尔卡顿。 google使用完美。建议IT技术人员购买</div>
     <div class="pure-u-1-5"></div>
     <div class="pure-u-1-5"></div>
     <div class="pure-u-3-5" style="color:green">购买加QQ:6464344359 备注ss购买</div>
     <div class="pure-u-1-5"></div>
     <div class="pure-u-1-5"></div>
     <div class="pure-u-3-5" style="color:red; font-weight: bold; font-size:36px; margin-top:30px">禁止用于违法中国国家法律的用途，否则封账户不退款。</div>
     <div class="pure-u-1-5"></div>
  </div>
</body>
</html>