<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.bootcss.com/pure/0.6.2/pure-min.css">
</head>
<body>
    <div class="pure-g">
    <div class="pure-u-md-1-2">
        <img src="/images/wpay.png" style="width:62%">
    </div>
    <div class="pure-u-md-1-2">
        <img src="/images/alipay.png" style="width:62%">
    </div>
    </div>
    {{import "module/analytics.hbs"}}
</body>
</html>